h2 {
    font-size: 140%;
    text-align: center;
}

h3 {
    font-size: 100%;
    text-align: center;
}

.desc-text {
    padding: 0 0 100px;
}

a {
    text-decoration: none;
    color: rgb(175, 0, 0)
}