<div>
  <h2>Junior Engineer</h2>
  <h3><a href="https://www.envitia.com/" target="_blank">Envitia</a> (Aug 2018 - Current)</h3>
  <div class="desc-text">
    <p>Working as part of the web development team, working on various projects, involving AngularJS and Java. The projects I contributed to
      ranged from geospatial software to data analytics software
    </p>
  </div>
    
    <h2>Student Demonstrator</h2>
    <h3><a href="http://www.reading.ac.uk/" target="_blank">University of Reading</a> (Oct 2017 - Apr 2018)</h3>
    <div class="desc-text">
      <p>The job required the ability to assist the lecturer(s) in the practical portion of the Programming module; therefore also requiring an extensive knowledge of programming concepts and experience in the main IDE and programming language (Visual Studio and C/C++) chosen by the university to teach the module with.</p>
      <p>Additional requirements from the role was to ensure the students completed the tasks and to mark their tasks sheets to verify that the task is indeed complete, as well as resolving any issues which may arise, such as compiler errors which the students may require help with.</p>
    </div>

    <h2>Kitchen Worker</h2>
    <h3><a href="http://healthlovingcare.com/" target="_blank">A&amp;T Healthcare</a> (Sept 2017 - Oct 2017)</h3>
    <div class="desc-text">
      <p>The job role required helping nurses organise the food for lunch and supper of the nursing home residents as well as serving tea and coffee to everyone, including visitors, during tea times. Part of the job also requires cleaning dishes and cutlery as well as maintaining the cleanliness and organisation of the kitchen area.</p>
    </div>

    <h2>Staff Member</h2>
    <h3>KFC Horsham (Aug 2012 - Sep 2016)</h3>
    <div class="desc-text">
      <p>Working in 3 different sections of the shop; front, middle and back. Front section requires serving customers, middle section requires making burger orders, side items as well as maintaining the amount of prepared food items. The back section required organisation of the storage room as well as transferring items from the storage room to the front and middle section.</p>
      <p>The role also required the maintenance of the cleanliness of the eating area as well as ensuring the customers are comfortable.</p>
    </div>
    <img src="./assets/img/logo2018.svg" class="introLogo" style="height: 150px;display: block;margin: 0 auto;">
</div>