:host {
  display: flex;
  flex: 1;
}

.footer-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer-button {
  margin: 10px;
}

.desktop-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  .footer-button {
    max-width: 200px;
    flex: 1;
  }
}
