<div class="introPage">
  <h2>Introduction</h2>
  <p>Welcome to my new and improved website! (Now with 100% more Angular).
    This website was originally created as a way to showcase to recruiters
    my skills and functioned as a tool that helped me get a job. That was
    successful, which means this website should no longer be in use, however
    it has been repurposed as a way for me to point people towards my website and find
    relevant information about me.
  </p>
  <p>I have been spent some of my free time trying to learn Angular and improving my skills with web languages.
    Hence this website. If you happen to have any ideas of how to improve this site, feel free to contact me about it.</p>
</div>
