<div id="particles" class="splash-page">
  <app-logo></app-logo>
  <div class="links-container">
    <div class="link cv-container" matTooltip="Download my CV">
      <button mat-icon-button (mouseenter)="animateLinkButton($event, 2)" class="icon-button">
        <mat-icon svgIcon="cv" class="link-icon cv-icon"></mat-icon>
      </button>
    </div>
    <div class="link github-container" matTooltip="Check my other projects on Github">
      <button mat-icon-button (mouseenter)="animateLinkButton($event, 2)" class="icon-button">
        <mat-icon svgIcon="github" class="link-icon github-icon"></mat-icon>
      </button>
    </div>
    <div class="link linkedin-container" matTooltip="Connect with me on LinkedIn">
      <button mat-icon-button (mouseenter)="animateLinkButton($event, 2)" class="icon-button">
        <mat-icon svgIcon="linkedin" class="link-icon linkedin-icon"></mat-icon>
      </button>
    </div>
    <div class="link dark-mode-container" matTooltip="Toggle Dark Mode">
      <button mat-icon-button (mouseenter)="animateLinkButton($event, 2)" (click)="toggleDarkMode()"
        class="dark-mode-icon icon-button">
        <mat-icon svgIcon="moon" *ngIf="themeService.darkTheme; else day" class="link-icon"></mat-icon>
        <ng-template #day>
          <mat-icon svgIcon="sun" class="link-icon"></mat-icon>
        </ng-template>
      </button>
    </div>



  </div>
  <div class="see-more">
    <button mat-icon-button (click)="scroll('infoPage')">
      <mat-icon class="info-page-icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
