@use '~@angular/material' as mat;
@mixin splash-page-mixin($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  .dark-theme {
    .link-icon svg path {
      fill: mat.get-color-from-palette($primary, 300);
    }

    .logo-svg svg path {
      fill: mat.get-color-from-palette($primary, 400) !important;
    }

  }

  .link-icon svg path {
    fill: mat.get-color-from-palette($primary, 600);
  }

  .logo-svg svg path {
    fill: mat.get-color-from-palette($primary, 500) !important;
  }

}
