<mat-toolbar style="min-height:35px" color="primary" class="toolbar">
  <mat-toolbar-row>
      <span>
          <div class="toolbar-logo">
            <button mat-flat-button (click)="goToLegacySite()">
              Legacy
            </button>
          </div>
        </span>
        <span class="toolbar-spacer"></span>
        <div class="toolbar-right">
            <button mat-raised-button (click)="goToEnvitia()" color="accent">
              Envitia
            </button>
        </div>
  </mat-toolbar-row>
</mat-toolbar>