<div>
        <h2>Computer Science (BSc) (2:1)</h2>
        <h3>University of Reading (Sept 2015 - Aug 2018)</h3>
            
        <p class="h7">3<sup>rd</sup> Year (67.6%)</p>
        <table class="sortable">
            <tr>
                <th>Module</th>
                <th>Percentage</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Advanced Computing</td>
                <td>67%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Computer Networking</td>
                <td>64%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Data Mining</td>
                <td>53%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Information Security</td>
                <td>85%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Social, Legal and Ethical Aspects of Engineering</td>
                <td>72%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Software Quality and Testing</td>
                <td>59%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Virtual Reality</td>
                <td>67%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Individual Project</td>
                <td>70%</td>
                <td>A</td>
            </tr>
        </table>
        
        <p class="h7">2<sup>nd</sup> Year (66.3%)</p>
        <table class="sortable">
            <tr>
                <th>Module</th>
                <th>Percentage</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Essential Algorithms</td>
                <td>88%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Java</td>
                <td>76%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Systems Design and Project Management</td>
                <td>75%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Neural Networks</td>
                <td>74%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Computer Architecture</td>
                <td>59%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Compilers</td>
                <td>59%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Advanced Databses</td>
                <td>57%</td>
                <td>C</td>
            </tr>
            
            <tr>
                <td>Databases</td>
                <td>55%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Operating Systems</td>
                <td>51%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Robotic Systems</td>
                <td>50%</td>
                <td>C</td>
            </tr>
        </table>
        
        <p class="h7">1<sup>st</sup> Year (59.8%)</p>
        <table class="sortable">
            <tr>
                <th>Module</th>
                <th>Percentage</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Programming</td>
                <td>78%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Software Engineering</td>
                <td>70%</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Fundamentals and Applications of Computing</td>
                <td>57%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>IWLP Russian Level 1</td>
                <td>57%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Codes and Code Breaking</td>
                <td>50%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Mathematics</td>
                <td>47%</td>
                <td>D</td>
            </tr>
        </table>
            
        <h2>A Level</h2>
        <h3>St. Wilfrid's School (Sept 2012 - Aug 2015)</h3>
        
        <table class="sortable">
            <tr>
                <th>Subject</th>
                <th>A2/AS Level</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>IT</td>
                <td>A2</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Physics</td>
                <td>A2</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Chemistry</td>
                <td>A2</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Computing</td>
                <td>AS</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Mathematics</td>
                <td>AS</td>
                <td>D</td>
            </tr>
            
        </table>
        
        <h2>GCSE</h2>
        <h3>St. Wilfrid's School (Sept 2010 - Aug 2012)</h3>
        
        <table class="sortable">
            <tr>
                <th>Subject</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>ICT</td>
                <td sorttable_customkey="A">Distinction</td>
            </tr>
            <tr>
                <td>Mathematics</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Physics</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Chemistry</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Biology</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Statistics</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Geography</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Religious Studies</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Media Studies</td>
                <td>B</td>
            </tr>
            <tr>
                <td>English Literature</td>
                <td>C</td>
            </tr>
            <tr>
                <td>English Studies</td>
                <td>C</td>
            </tr>
        </table>
        
        <h3>Central Sussex College, Crawley (Sept 2010 - Aug 2012)</h3>
        
        <table>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Engineering</td>
                <td>Merit</td>
            </tr>
        </table>
    <img src="./assets/img/logo2018.svg" class="introLogo" style="height: 150px;display: block;margin: 0 auto;">
</div>>