<!--The content below is only a placeholder and can be replaced.-->
<span id="page-header"></span>
<div class="header">
    <app-portfolio-header></app-portfolio-header>
</div>

<div class="content">
    <mat-tab-group mat-stretch-tabs class="content-tab">
        <mat-tab label="Introduction"> 
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>    
        </mat-tab>
        <mat-tab label="Work Experience"> 
            <div class="content-container">
                <app-content-work-experience></app-content-work-experience>
            </div>   
        </mat-tab>
        <mat-tab label="Education">
            <div class="content-container">
                <app-content-education></app-content-education>
            </div>   
        </mat-tab>
        <mat-tab label="Extra Skills">
            <div class="content-container">
                <app-content-extra-skills></app-content-extra-skills>
            </div>   
        </mat-tab>
        <mat-tab label="Contact">
            <div class="content-container">
                <app-content-contact></app-content-contact>
            </div>   
        </mat-tab>
    </mat-tab-group>
</div>

<router-outlet></router-outlet>


