<div class="header">
  <mat-toolbar style="min-height:40px" color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>
        <div class="toolbar-logo">
          <button mat-flat-button>
            <mat-icon svgIcon="crescent" color="accent" class="toolbar-icon"></mat-icon>
            Czar Ec
          </button>
        </div>
      </span>
      <span class="toolbar-spacer"></span>
      <div class="toolbar-external-links">
          <button mat-flat-button (click)="openLinkedIn()">
            <span class="toolbar-icon"><i class="fab fa-linkedin-in"  style="font-size:20px;"></i></span>
            LinkedIn
          </button>

          <button mat-flat-button (click)="openGithub()">
              <span class="toolbar-icon"><i class="fab fa-github" style="font-size:20px;"></i></span>
              Github
          </button>

          <button mat-raised-button (click)="openCV()" color="accent">
            View CV
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  