@import url('https://fonts.googleapis.com/css?family=Share+Tech');

/*CSS Source from this tutorial with some modifications
https://www.youtube.com/watch?v=Y5SHm53WFEk*/

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow: visible;
}

.intro
{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: black;
    /*background source: https://www.nasa.gov/multimedia/imagegallery/image_feature_1901.html
    */
    background-image: url(/assets/img/bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content
{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.content h1
{
    font-family: 'Share Tech', sans-serif;
    color: darkred;
    text-shadow: 0 0 200px #fff;
    font-size: 500%;
    margin-bottom: 0;
}

ul
{
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;
}

ul li
{
    display: inline;
    margin-right: 5px;
}

ul li a
{
    border-radius: 10px;
    font-family: 'Share Tech';
    color: red;
    font-size: 100%;
    padding: 10px 50px;
    border: solid darkred 4px;
    text-transform: uppercase;
    text-decoration: none;
}

ul li a:hover
{
    color: white;
    border: solid darkred 4px;
    background: darkred;
}

a
{
    text-decoration: none;
}

/*button linking to the CV*/
.cvbutton
{
    display: inline;
    border-radius: 10px;
    font-family: 'Share Tech';
    color: red;
    font-size: 100%;
    padding: 10px 50px;
    border: solid darkred 4px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 50px #fff;
}

.cvbutton:hover
{
    color: white;
    border: solid darkred 4px;
    background: darkred;
}

/*table formatting*/
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

table, th, td
{
    border: 1px solid rgba(150, 0, 0, 0.5);
}

table
{
    width: 70%;
    margin: 20px 15% 20px; 15%;
}

table.clang, td.clang
{
    border: none;
}

th, td
{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

th
{
    color: darkred;
    font-size: 120%;
    font-family: 'Share Tech';
}

td
{
    color: black;
    font-size: 100%;
    font-family: 'Share Tech';
}

td.clang
{
    color: black;
    font-size: 200%;
    font-family: 'Share Tech';
    padding: 20px 0 20px 0;
}

/*text formatting*/
h2
{
    font-size: 300%;
    line-height: 100%;
    text-align: justify;
    margin: 3%;
    font-family: 'Share Tech';
    color: darkred;
}

h3
{
    font-size: 150%;
    text-align: center;
    font-family: 'Share Tech';
    color: darkred;
    text-shadow: 0 0 50px #fff;
    margin-top: 0;
    margin-bottom: 40px;
}

h4
{
    font-size: 100%;
    text-align: center;
    font-family: 'Share Tech';
    color: darkred;
}

h5
{
    font-size: 200%;
    text-align: center;
    font-family: 'Share Tech';
    color: darkred;
    margin: 0;
    padding: 0;
}

h6
{
    font-size: 150%;
    text-align: center;
    font-family: 'Share Tech';
    color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

/*i'll streamline these headeings someday*/
.h7
{
    font-size: 120%;
    text-align: center;
    font-family: 'Share Tech';
    color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

p
{
    font-size: 120%;
    line-height: 110%;
    text-align: justify;
    margin: 3%;
    font-family: 'Share Tech';
}

/*navigation bar*/
nav
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav ul
{
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*span class for spaces between heading2*/
.divider
{
    padding-bottom: 50px;
    display: block;
}

/*footer navigation*/
footer
{
    width: 100%;
    text-align: center;
}

footer ul
{
    list-style-type: none;
}

footer ul li
{
    display: inline;
    margin: 15px;
}

footer ul li a
{
    font-family: 'Share Tech';
    font-size: 70%;
    text-decoration: underline;
    padding: 10px 20px;
    border: none;
}

footer ul li a:hover
{
    color: white;
    background: darkred;
    border: none;
}

/*screen size queries to alter the look of header image for different devices*/
@media screen and (max-width: 1000px)
{
    .content h1
    {
        font-size: 250%;
        text-shadow: 0px 0px 300px #fff;
    }
    .btn
    {
        font-size: 110%;
        padding: 7px 15px;
    }
    p
    {
        font-size: 100%;
        line-height: 100%;
    }
    
    ul li a
    {
        padding: 10px 10px;
    }
    
    nav
    {
        text-align: center;
        width:100%;
    }
    
    nav ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li a
    {
        display: block;
    }
    
    table
    {
        width: 100%;
        margin: 20px 0 20px 0;
    }
    
    footer
    {
        text-align: center;
        width: 100%;
    }
    
    footer ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    footer ul li a
    {
        display: block;
    }
}