:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-footer {
    min-height: 50px;
    background-color: red;
    text-align: center;
    line-height: 50px;
}