@use '~@angular/material' as mat;
@import '../app/components/splash-page/splash-page.mixin.scss';
@import '../app/components/splash-page/logo/logo-mixin.scss';
@import '../app/services/under-construction-warning/under-construction-warning-snack-bar/under-construction-warning-snack-bar.mixin.scss';

@mixin app-mixins($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  .dark-theme {
    .splash-page {
      background-color: mat.get-color-from-palette($primary, 700);
    }
  }

  .splash-page {
    background-color: mat.get-color-from-palette($primary, 300);
  }

  @include splash-page-mixin($theme);
  @include logo-mixin($theme);
  @include under-construction-warning-snack-bar-mixin($theme);
}
