<div class="content">
    <mat-tab-group mat-stretch-tabs class="content-tab">
        <mat-tab label="Introduction"> 
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>    
        </mat-tab>
        <mat-tab label="Work Experience"> 
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>   
        </mat-tab>
        <mat-tab label="Education">
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>   
        </mat-tab>
        <mat-tab label="Extra Skills">
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>   
        </mat-tab>
        <mat-tab label="Contact">
            <div class="content-container">
                <app-content-intro></app-content-intro>
            </div>   
        </mat-tab>
    </mat-tab-group>
</div>
