<div class="projects-page">
  <div class="previews-container">
    <mat-card class="project-detail mat-elevation-z8"
      *ngFor="let projectDetail of projectsPreviewService.projectDetails">
      <mat-card-title>{{projectDetail.projectName}}</mat-card-title>
      <mat-card-content>
        <div class="card-description">{{projectDetail.projectDescription}}</div>
      </mat-card-content>
      <mat-card-actions>
        <div class="openRepositoryButton">
          <button mat-icon-button color="primary" (click)="openBadge(projectDetail.projectUrl)" matTooltip="Open {{projectDetail.projectName}} in Github">
            <mat-icon svgIcon="github"></mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <div class="load-more-button" *ngIf="!projectsPreviewService.requestInProgress; else loadingSpinner">
      <button mat-raised-button *ngIf="projectsPreviewService.nextPageLink"
        (click)="projectsPreviewService.getNextDetail()" color="primary">Load More</button>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <div class="loading-projects-page">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
