<head>
<title>Czar's stash</title>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/style.css"/>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118333645-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118333645-1');
</script>

</head>
    
<body>
    <div id="header">
        <p style="text-align: center;">
            <a href=""><img src="img/czareclogo.png" alt="CzarEc logo" align="center"></a>
        </p>
    </div><!--header-->
    
    <div id="nav">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="docs/CzarEchavezCV.pdf">CV</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="">TEST</a></li>
        </ul>
    </div><!--nav-->
    
    {{content}}
    
    <div id="footer">
        
    </div><!--footer-->
    
</body>