@use 'assets/themes/czarec.theme' as *;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Apply animations via Angular directives */
.fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 0.6s ease-out forwards;
}

/* You can add global styles to this file, and also import other style files */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../src/assets/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0;

  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  height: 100vh;
}

body {
  margin: 0;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  font-family: 'Custom', 'Helvetica Neue', sans-serif;
}
