@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@import '~css-star-rating/scss/star-rating';

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.particles-js-canvas-el {
  position: absolute !important;
  z-index: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #000;
}

::-webkit-scrollbar-thumb {
  background: #400000;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e40000;
}

.mat-tooltip {
  text-align: center;
}

.label-value {
  transform: scale(0.6);
}