@import url('https://fonts.googleapis.com/css?family=Share+Tech');

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Plateia';
  text-align: center;
}

p {
  font-family: Share Tech;
}
