:host {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app-logo {
  flex: 1;
  width: 50%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
  opacity: 1;
  z-index: 1000;
}
