@use '@angular/material' as mat;
@import '@angular/material/theming';

/* mixin imports */
@import '../../app/app.mixin.scss';

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Share Tech';
  src: url('../fonts/ShareTech-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('ttf')
}

/* font */
$custom-typography: mat.define-legacy-typography-config($font-family: 'Quicksand, Lato');

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();

/* Primary colour palette */
$mat-czarecredprimary: (50 : #ff7070,
100 : #ff2424,
200 : #eb0000,
300 : #a30000,
400 : #850000,
500 : #660000,
600 : #470000,
700 : #290000,
800 : #0a0000,
900 : #000000,
A100 : #ff6666,
A200 : #ff0000,
A400 : #990000,
A700 : #800000,
contrast: (50 : #000000,
100 : #ffffff,
200 : #ffffff,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

/* Accent colour palette */
$mat-czarecredaccent: (50 : #ffd6d6,
100 : #ff8a8a,
200 : #ff5252,
300 : #ff0a0a,
400 : #eb0000,
500 : #cc0000,
600 : #ad0000,
700 : #8f0000,
800 : #700000,
900 : #520000,
A100 : #ffcccc,
A200 : #ff6666,
A400 : #ff0000,
A700 : #e60000,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #ffffff,
A700 : #ffffff,
));

/*Palette colours*/
$czarec-red-theme-primary: mat.define-palette($mat-czarecredprimary);
$czarec-red-theme-accent: mat.define-palette($mat-czarecredaccent);
$czarec-red-theme-warn: mat.define-palette(mat.$amber-palette);


/*Dark theme*/
.dark-theme {
  $czarec-red-theme-dark: mat.define-dark-theme($czarec-red-theme-primary, $czarec-red-theme-accent, $czarec-red-theme-warn);
  @include mat.all-legacy-component-themes($czarec-red-theme-dark);
  @include app-mixins($czarec-red-theme-dark);
}

/*Light theme*/
$czarec-red-theme-light: mat.define-light-theme($czarec-red-theme-primary, $czarec-red-theme-accent, $czarec-red-theme-warn);
@include mat.all-legacy-component-themes($czarec-red-theme-light);
@include app-mixins($czarec-red-theme-light);
