name: Deploy to live CD portfolio
on:
  push:
    branches: [develop]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # Install dependencies
      - run: yarn install

      # Run tests with coverage
      - run: yarn test:ci

      # Build production with correct base href for GitHub Pages
      - name: Build production
        run: |
          yarn build:prod

      # generate coverage badge
      - run: chmod +x ./scripts/coverage-generator.sh
      - run: ./scripts/coverage-generator.sh ./coverage/websiteportfolio/lcov.info

      # commit and push badge
      - name: Commit and push badge
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          # Create coverage-badges branch if it doesn't exist
          git fetch origin coverage-badges || true
          git checkout -B coverage-badges

          # Move the badge to branch
          git add -f coverage-badge.svg
          git commit -m "Update coverage badge [skip ci]" || echo "No changes to commit"
          git push origin coverage-badges --force

      # -------------------------------
      # Deploy Angular site to cd-portfolio
      # -------------------------------
      - name: Deploy to cd-portfolio
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: "dist/WebsitePortfolio/browser"
          destination-github-username: "czar-ec"
          destination-repository-name: "cd-portfolio"
          user-email: "czar.echavez@yahoo.co.uk"
          target-branch: master
