name: Deploy to live CD portfolio
on:
  push:
    branches: [develop]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # Install dependencies
      - run: yarn install

      # Run tests with coverage
      - run: yarn test:ci

      # Build production with correct base href for GitHub Pages
      - name: Build production
        run: |
          yarn build:prod

      # Generate the badge
      - name: Generate coverage badge
        uses: ./.github/actions/generate-coverage
        with:
          lcov_path: coverage/websiteportfolio/lcov.info

      # Push the badge
      - name: Push coverage badge
        uses: ./.github/actions/push-coverage-badge
        with:
          badge_path: ${{ steps.generate.outputs.badge-path }}

      # -------------------------------
      # Deploy Angular site to cd-portfolio
      # -------------------------------
      - name: Deploy to cd-portfolio
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: "dist/WebsitePortfolio/browser"
          destination-github-username: "czar-ec"
          destination-repository-name: "cd-portfolio"
          user-email: "czar.echavez@yahoo.co.uk"
          target-branch: master
