name: Feature build
on:
  push:
    branches-ignore:
      - master
      - pre-deploy
      - develop

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      # install ubuntu deps
      # - run: sudo apt-get install xvfb

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # set up tests
      - run: yarn install

      # run tests
      - run: yarn test:ci

      # run cypress
      # - name: Cypress run
        # uses: cypress-io/github-action@v2
        # with:
          # command: yarn cy:ci:e2e

      # build
      - run: yarn build:prod

      # replace readme items
      # - name: Find and Replace preview url
      #   uses: jacobtomlinson/gha-find-replace@v2
      #   with:
      #     find: "$$PREVIEW_URL$$"
      #     replace: "https://czar-ec.github.io/cd-portfolio"
      #     include: "**README.md"

      # - name: Find and Replace build status badge
      #   uses: jacobtomlinson/gha-find-replace@v2
      #   with:
      #     find: "$$BUILD_STATUS_URL$$"
      #     replace: "https://github.com/czar-ec/czar-ec.github.io/actions/workflows/test.yml/badge.svg"
      #     include: "**README.md"

      # run code coverage
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v1
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
